# This is a configuration definition file for the example "loop".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config


Name: # Configuration name
loop test

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions

