# This is a configuration definition file for the example "loop".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Pioneer

Name: # Configuration name
pioneer loop

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
ARTAG64 = Pioneer.CSharpRobotSensor.artag_detection(ARTagID=64)
ARTAG103 = Pioneer.CSharpRobotSensor.artag_detection(ARTagID=103)
NEW_DOORWAY = Pioneer.CSharpRobotSensor.open_doorway()
ARTAG = Pioneer.CSharpRobotSensor.artag_detection(ARTagID=103)
LIDAR = Pioneer.CSharpRobotSensor.lidar_detection()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
CSharpRobotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.39219870e+02,   4.42701335e+00,  -3.29915509e+02],
       [  1.19976012e-01,  -1.11609204e+02,   2.92013529e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.9)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
CSharpRobotInit(robotType=1,IPAddress="10.0.0.86",commPort=7400,buffer=1024)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
CSharpRobotLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="spider06:spider06 <t-X>",y_VICON_name="spider06:spider06 <t-Y>",theta_VICON_name="spider06:spider06 <a-Z>")

RobotName: # Robot Name
Pioneer

SensorHandler: # Sensor handler file in robots/Type folder
CSharpRobotSensor()

Type: # Robot type
CSharpRobot

