# This is a configuration definition file for the example "finalloop".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Segway

Name: # Configuration name
segway loop

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
ARTAG103 = Segway.CSharpRobotSensor.artag_detection(ARTagID=103)
ARTAG = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)
ARTAG64 = Segway.CSharpRobotSensor.artag_detection(ARTagID=64)
LIDAR = Segway.CSharpRobotSensor.lidar_detection()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
CSharpRobotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.21440337e+02,   5.22846400e+00,   2.98506912e+02],
       [ -2.53680000e-02,  -1.29863002e+02,   3.05194967e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
CSharpRobotInit(robotType=2,IPAddress="10.0.0.91",commPort=7400,buffer=1024)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
CSharpRobotLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="BlueSegway:BlueSegway <t-X>",y_VICON_name="BlueSegway:BlueSegway <t-Y>",theta_VICON_name="BlueSegway:BlueSegway <a-Z>")

RobotName: # Robot Name
Segway

SensorHandler: # Sensor handler file in robots/Type folder
CSharpRobotSensor()

Type: # Robot type
CSharpRobot

