# This is a configuration definition file in folder "c:\Users\Rob\Dropbox\ASL\WorkspaceLTLMoP\LTLMoP\src\examples\ConstRegion\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Johnny5

Name: # Configuration name
Jhony5

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Johnny5Actuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 212.05819434,    5.84863398, -529.36506994],
       [   4.23938829, -106.45147894,  288.86324575],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
DipolarDrive()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Johnny5Init(comPort="COM9")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Johnny5LocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
DipolarRRTController(robotType=1,nodeDistInter=0.2,linearGain=1.0,angularGain=0.5,plotTree=True,plotPath=True,plotRegion=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Johnny5-fixed:Johnny5 <t-X>",y_VICON_name="Johnny5-fixed:Johnny5 <t-Y>",theta_VICON_name="Johnny5-fixed:Johnny5 <a-Z>")

RobotName: # Robot Name
Johnny5

SensorHandler: # Sensor handler file in robots/Type folder
Johnny5Sensor()

Type: # Robot type
Johnny5

