*.pyc
*.swp
*.aut
*.cfg
*.ltl
*.smv
*.world
*_decomposed.regions
*~
.player
envBugs.txt
sysBugs.txt
.project
.pydevproject
*.anzu
*.debug
*.dot
*.rat
*.class
.DS_Store
*.cnf
*.sat
src/lib/cores/picosat*
.settings
# Spyros: ignore all files in these directories:
spyros-tests/
LTLMoP structure/
# Spyros: also ignore files with these extensions:
*.pdf
# Spyros: finally, ignore these very specific files:
LTLMoP_GitHub_Setup.py
