# This is a configuration definition file for the example "hospital".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
resynthesize = share.dummyActuator.setActuator(name="resynthesize")
explore = Pioneer_for_UKR.pioneerActuator.doExploration(explore_port=11024)
explore_room = Pioneer_for_UKR.pioneerActuator.doExploration(explore_port=11024)
raise_flag = Pioneer_for_UKR.pioneerActuator.moveFlag(flag_port=11004)

Initial_Truths: # Initially true propositions
explore

Main_Robot: # The name of the robot used for moving in this config
Pioneer_for_UKR

Name: # Configuration name
newmap

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
room_category_OR = share.dummySensor.buttonPress(button_name="room_category_OR",init_value=False)
force_explore = share.dummySensor.buttonPress(button_name="force_explore",init_value=False)
explore_room_done = Pioneer_for_UKR.pioneerSensor.exploreDone() or    share.dummySensor.buttonPress(button_name="explore_done",init_value=False)
region_added = Pioneer_for_UKR.pioneerSensor.regionAdded()
carrying_chart = Pioneer_for_UKR.pioneerSensor.cupSensor()
explore_done = share.dummySensor.buttonPress(button_name="explore_done",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
pioneerActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  9.41402214e+01,  -3.47374711e+00,  -8.92336138e+01],
       [  1.71931840e-02,  -8.65092383e+01,   3.68900710e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
pioneerInit(host="10.0.0.96",map_port=11008)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
pioneerLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
RRTController(robot_type=4,max_angle=6.28,plotting=0)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="spider06:spider06 <t-X>",y_VICON_name="spider06:spider06 <t-Y>",theta_VICON_name="spider06:spider06 <a-Z>")

RobotName: # Robot Name
Pioneer_for_UKR

SensorHandler: # Sensor handler file in robots/Type folder
pioneerSensor(map_listen_port=12345,explore_done_poll_port=11012,cup_poll_port=11016)

Type: # Robot type
PioneerUKR

