# This is a configuration definition file in folder "c:\Users\Rob\Dropbox\ASL\WorkspaceLTLMoP\LTLMoP\src\examples\SimpleExample\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
BlueSegway

Name: # Configuration name
Segway

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
SegwayActuator()

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6,scale=0.29,show=False)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
SegwayInit(ip="10.0.0.91",port=50007)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
SegwayLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
BlueSegway

SensorHandler: # Sensor handler file in robots/Type folder
SegwaySensor()

Type: # Robot type
Segway

