# This is a configuration definition file in folder "c:\Users\Rob\Dropbox\ASL\WorkspaceLTLMoP\LTLMoP\src\examples\DipolarRRT\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
OptimusSecundus

Name: # Configuration name
CreateRRTComplex

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
iRobotCreateActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  2.69614451e+02,   0.00000000e+00,  -1.01269884e+03],
       [  0.00000000e+00,  -2.69614451e+02,   6.79401456e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
iRobotCreateInit(listenIP="0.0.0.0",broadCastIP="10.0.0.128",createPort=8865,beaglePort=8866,artagPort=8844,sonarPort=8833,buffer=1024)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
iRobotCreateLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
DipolarRRTController(robotType=1,nodeDistInter=0.3,linearGain=0.5,angularGain=1.5,plotTree=True,plotPath=True,plotRegion=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="CreateCalibrated:Create <t-X>",y_VICON_name="CreateCalibrated:Create <t-Y>",theta_VICON_name="CreateCalibrated:Create <a-Z>")

RobotName: # Robot Name
OptimusSecundus

SensorHandler: # Sensor handler file in robots/Type folder
iRobotCreateSensor()

Type: # Robot type
iRobotCreate

